/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 420px;
  padding-left: 10px;
}

.title {
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.button {
  margin: 10px;
} */